body{
  margin:0;
  font-family:'Inter',sans-serif;
  background:#000 url('../assets/silicon.jpg') center/cover fixed;
  color:#fff;
  overflow-x:hidden;
}

.overlay{
  position:fixed;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.85);
  z-index:-1;
}

section{
  min-height:100vh;
  padding:120px 10%;
  opacity:0;
  transform:translateY(40px);
  transition:1s ease;
}

section.show{
  opacity:1;
  transform:translateY(0);
}

h1,h2{
  margin-bottom:20px;
}

.btn{
  border:1px solid #fff;
  padding:10px 25px;
  color:#fff;
  text-decoration:none;
}

#bootScreen{
  position:fixed;
  width:100%;
  height:100vh;
  background:#000;
  font-family:'IBM Plex Mono',monospace;
  color:#0f0;
  padding:40px;
  z-index:9999;
}

#terminalBox{
  background:#111;
  padding:20px;
  font-family:monospace;
  margin-top:30px;
}

#terminalInput{
  width:100%;
  background:#000;
  border:none;
  color:#fff;
}

#probeCursor{
  position:fixed;
  width:12px;
  height:12px;
  border:2px solid #00ffcc;
  border-radius:50%;
  pointer-events:none;
  z-index:10000;
  box-shadow:0 0 10px #00ffcc;
}
